/* ======================================================
   FOOTER
====================================================== */

footer {
    background: #35152a;

    color: white;

    text-align: center;

    padding: 35px;
    margin-top: auto;
}


